h1 {
    font-size: 44px;
}
h2 {
    font-size: 20px;
}

.back-button,
.header-text,
.skip-next,
.sub-text {
    padding-left: 20px;
    padding-right: 20px;
}

.sub-text {
    margin-bottom: -20px;
    line-height: 30px;
}

.skip-next {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 630px;
    width: 404px;
}

.skip-next button {
    color: white;
    background: #000000;
    border-radius: 100px;
    width: 120px;
    height: 30px;
    font-size: 15px;
    margin-left: 200px;
}

.header-text {
    padding-bottom: 0px;
    margin-bottom: -20px;
}

.image1 img {
    width: 404px;
}

/* .image2 img {
    width: 375px;
} */
.back-button {
    display: flexbox;
    justify-content: flex-start;
    /* background-color: blue; */
}

.back-button button {
    background-color: transparent;
    border-style: none;
    font-size: 25px;
    padding: 0px;
    padding-bottom: 10px;
    margin: 0px;
}
.green-dots {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    position: absolute;
    top: 690px;
    width: 404px;
}
.green-dots img {
    width: 350px;
}

.welcome2 .image2 {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.welcome2 .image2 img {
    width: 370px;
}

.welcome2 .image3 img {
    width: 404px;
    margin-top: 40px;
}

.welcome3 .image2 {
    padding-top: 55px;
    display: flex;
    justify-content: center;
}
.welcome3 .image2 img {
    width: 350px;
}

.welcome4 .image2 img {
    padding-top: 20px;
    width: 404px;
}

.welcome5 .image2 img {
    padding-top: 20px;
    width: 404px;
}
