.welcome {
    width: 353px;
    height: 70px;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;

    color: #000000;
}

.connecting {
    margin-left: 20px;
    text-align: left;
    padding-top: 10px;
}

.skip {
    padding: 0px;
    font-size: 18px;
    background-color: transparent;
    color: black;
    border-style: none;
    text-align: left;
    margin-top: -120px;
    margin-right: 200px;
}

.mapdemo {
    width: 400px;
    object-fit: contain;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -20px;
}

.buttons1 {
    max-width: 240px;
    padding-top: 5px;
}

.next {
    margin-left: 275px;
}

button {
    cursor: pointer;
    display: block;
    color: white;
    font-size: 1.5em;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #000000;
    border-radius: 100px;
}
