#community-map {
  width: 404px;
  height: 450px;
}

.map-container {
  height: 100%;
  width: 100%;
}

.share-community h2 {
  font-size: 20px;
  margin-left: 35px;
  margin-top: 20px;
  margin-right: 60px;
  line-height: 40px;
}

.share-community h4 {
  margin-left: 35px;
  background-color: yellow;
  width: 170px;
}
